<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- SMTP Settings-->
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="SMTP_Host" value="smtp.gmail.com" />
    <add key="SMTP_Port" value="587" />
    <add key="From_Address" value="" />
    <add key="To_Address" value="" />
  </appSettings>
</configuration>